PROJECT_NAME=
DEBUG=
SECRET_KEY=

# llms
OPENAI_API_KEY=
GEMINI_API_KEY=

LANGSMITH_API_KEY=
LANGSMITH_TRACING=

# dbs
DATABASE_URL=
VECTOR_DB_PATH=
DOC_DIR_PATH=

# OAuth settings
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Frontend URL for CORS
FRONTEND_URL=

GCP_PROJECT_ID=
BQ_DATASET_NAME=
BQ_TABLE_NAME=
BQ_DATASET_LOCATION=
